.l-constrained.clearfix
  %nav.navigation.navigation-main
    = link_to "home", "/index.html"
    = link_to "portfolio", "#"
    = link_to "interests", "#"
    = link_to "skills", "#"

  %nav.navigation.navigation-social
    = link_to "email", "#"
    = link_to "twitter", "#"
    = link_to "facebook", "#"
    = link_to "linkedin", "#"